<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAb6bCNcgRkzhJGzDB3_W2hwHJvdZbisYg</string>
	<key>GCM_SENDER_ID</key>
	<string>165040771611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workFlowManager</string>
	<key>PROJECT_ID</key>
	<string>work-flow-manager-71651</string>
	<key>STORAGE_BUCKET</key>
	<string>work-flow-manager-71651.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165040771611:ios:b769b6fcad432355359ebe</string>
</dict>
</plist>